$text-color: #545469;
$font-family: "Rubik", sans-serif;
$font-size: 16px;
$body-color: #f5f4f7;
$primary-color: #000;
$secondary-color: green;
$white-color: #fff;
$dark-color: #121212;
$success-color: #2ecc71;
$danger-color: #e74c3c;
$warning-color: #f1c40f;
$light-color: #e2e2e2;
$gray-color: #d8d8d8;
$border-color: #e2e2e2;
$radius-base: 4px;
$gutters: 30px;
$header-height: 60px;
$md: 768px;
$lg: 1200px;
$sm: 568px;
$transition-base: 0.3s all;
